### IntelliJ Files
out/
.idea/**
*.iws
*.iml

### Eclipse Files
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

### Maven Files
target/**

### Java Files
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Mac Files
.DS_Store
.AppleDouble
.LSOverride
._*

### Crash Logs
hs_err_pid*