<div class="popups-cont">
    <div class="popups-cont__overlay" ng-click="dCtrl.closeDialog()"></div>
    <div class="popup">
        <div class="popup__pieces"></div>
        <div class="popup__content">
            <div class="popup__close" ng-click="dCtrl.closeDialog()"></div>
            <div class="popup__heading">User Details</div>
            <form method="POST">
                <div class="row">
                    <span>
                        <input class="slide-up" id="card" placeholder="Fund me!" type="text">
                        <label for="card">Credit Card</label>
                    </span>
                    <span><input class="gate" id="class" placeholder="Wizard!" type="text">
                        <label for="class">Class</label>
                    </span>
                    <span>
                        <input class="swing" id="artist" placeholder="BO$$" type="text">
                        <label for="artist">Artist</label>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>